@import 'settings';
@import 'foundation-emails';

$matin-blue: #335170;
$matin-yellow: #ebb211;

$matin-black: #231F20;
$matin-gold: #C59353;


/* Truncate multiple line text */
@mixin multiline-truncate($lines) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;

	overflow: hidden;
}
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin center-cropped($w: 120px, $h: 96px) {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: $h;
  width: $w;
}

html, body, .body{
	background-color: #f5f5f5;
}
.header {
	background-color: $matin-blue;
	padding: 20px; 
	.columns {
		padding-bottom: 0;
	}

	p {
		color: #fff;
		margin-bottom: 0;
	}

	.wrapper-inner {
	  padding: 20px; /*controls the height of the header*/
	}

	tbody tr td {
		padding: 16px 20px;
	}

	.container {
	  background: $matin-blue;
	}

	.logo {
		width: 240px;
	}
}

.subheader{
	background-color: $matin-yellow;

	.wrapper-inner {
		padding: 8px;
	}

	tbody tr td {
		padding: 8px;
	}

	.container {
		background-color: $matin-yellow;
	}

	p {
		margin-bottom: 0
	}
}

.main {
	padding: $global-padding;
	.columns {
		padding-bottom: 0;
	}
	.item {
		.title {
			color: $matin-blue;
			font-weight: bold;
			font-size: 20px;
		}
		.thumb-wrap {
			position: relative;
			display: block;
			text-align: center;
			// margin-right: 16px;
			overflow: hidden;

			img {

			}
		}
		@media only screen and (min-width: 665px) {
			.thumb-wrap {
				height: 96px;

				img {
				  position: absolute;
				  left: 50%;
				  top: 0;
				  height: 100%;
				  max-width: 100%;
				  width: auto;
				  -webkit-transform: translate(-50%,0);
				      -ms-transform: translate(-50%,0);
				          transform: translate(-50%,0);
				}
			}
		}
	
		.description {
			@include multiline-truncate(3);
			line-height: 20px;
			margin-bottom: 16px;
		}
		&:first-child {
			margin-top: 0;
		}

	}
}
.padding-right {
	th {padding-right: 16px;}
}

.sidebar {
	padding: $global-padding;
	.columns {
		padding-bottom: 0;
	}
	.subheader {
		background-color: transparent;
		font-weight: 600;
		text-transform: uppercase;
		color: darken($matin-yellow, 20%);
		border-bottom: 2px solid darken($matin-yellow, 20%);

	}

	.item {
		border-bottom: 1px solid $medium-gray;
		margin-top: $global-margin;
		.title {
			font-size: $global-font-size;
			font-weight: 500;
			color: $matin-blue;
		}
		.meta {
			font-size: $small-font-size;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

.button.matin table td {
	background: $matin-blue;
}
.button.matin table td a{
	background: $matin-blue;
	border: none;
}

.button.matin table td a:hover{
	background: darken($matin-blue, 20%);
	border: none;
}
.button.matin:hover table td  {
	background: darken($matin-blue, 20%);
}
.button.matin:hover table td a{
	background: darken($matin-blue, 20%);
}


// 1 column layout
.col-1 {
	.main {
		.item {
			@media only screen and (min-width: 665px) {
				.thumb-wrap {
					min-height: 120px;
					height: auto;

					img {
					  position: absolute;
					  left: 50%;
					  top: 50%;
					  height: auto;
					  width: 100%;
					  -webkit-transform: translate(-50%,-50%);
					      -ms-transform: translate(-50%,-50%);
					          transform: translate(-50%,-50%);
					}
				}
			}
		}
	}
}

// Gold theme
.gold {
	.header {
		background-color: $matin-black;
		.container {
		  background: $matin-black;
		}
	}

	.subheader{
		background-color: $matin-gold;
		.container {
			background-color: $matin-gold;
		}
	}

	.main {
		.item {
			.title {
				color: $matin-black;
			}
		}
	}

	.sidebar {
		.subheader {
			color: darken($matin-gold, 20%);
			background-color: transparent;
			border-bottom: 2px solid darken($matin-gold, 20%);
		}
		.item {
			border-bottom: 1px solid $medium-gray;
			.title {
				color: $matin-black;
			}
		}
	}

	.button.matin table td {
		background: $matin-gold;
		color: $matin-black;
	}
	.button.matin table td a{
		background: $matin-gold;
		color: $matin-black;
		border: none;
	}

	.button.matin table td a:hover{
		background: darken($matin-gold, 20%);
		border: none;
	}
	.button.matin:hover table td  {
		background: darken($matin-gold, 20%);
	}
	.button.matin:hover table td a{
		background: darken($matin-gold, 20%);
	}
}